.loading-screen {
    display: flex;
    justify-content: center;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    z-index: 99;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
}

@keyframes cycle-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-cycle {
    margin: auto;
    width: 60px;
    height: 60px;
    border: 12px solid $contrast-color;
    border-top: 12px solid #383636;
    border-radius: 100%;
    animation: cycle-animation 0.6s linear infinite;
}