.test-drive-main-labelarea{
    h4, p{
        margin: 10px auto;
    }
    p {
        font-size: 18px;
        font-weight: 400;
    }
}

.test-drive-body-select-date{
    .test-drive-body-dates{
        p {
            font-size: 21px;
        }
    }
}

.test-drive-confirmation-page{
    .test-drive-confirmation-page-labels{
        p {
            margin-bottom: 20px;
            font-size: 16px;
        }
    }
    h3{
        margin: 20px;
    }
}