.test-drive-main-labelarea{
    h4, p{
        margin: 10px auto;
    }
    p {
        font-size: 18px;
        font-weight: 400;
    }
}

.test-drive-body-select-date{
    .test-drive-body-dates{
        p {
            font-size: 21px;
        }
    }
}

.test-drive-confirmation-page{
    .test-drive-confirmation-page-labels{
        p {
            font-size: 16px;
        }
        @media screen and (max-width: 380px) {
            p {
                font-size: 14px;
            }
        }
    }
    h5{
        margin: 20px 0;
    }
}

.test-drive-main-back-button{
    font-size: 36px;
    line-height: 40px;
}
